body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gainsboro;

}

html {
    scroll-behavior: smooth;
    scroll-padding: 230px;
}

#ri,
#ee,
#aie,
#tk {
    float: left;
    padding: 10px;
    margin-left: 140px;
    height: 100px;

}

.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rebeccapurple;
    margin: auto;
}

a {
    color: lightgray;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

li div {
    display: inline-block;
}

#izborni {
    background-color: powderblue;
}

#izbaceni {
    background-color: gray;
}

.subject-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    margin-top: 70px;

}

h2 {
    text-align: center;
    color: rgb(68, 69, 69);
    font-size: 20px;


}

h3 {
    text-align: center;
    font-size: 25px;
    color: rebeccapurple;
    text-decoration: underline;
}

.card {
    border: 2px solid dimgray;
    align-items: center;
    border-radius: 5px;
    background-color: white;

}

.card_img {
    width: 100px;
}

@media (max-width: 300px) {
    .navbar {
        position: inherit;
    }

    #ri,
    #ee,
    #aie,
    #tk {
       margin-left: 0px;

    }
}