.prisustvo{
    margin: 50px;
    margin-bottom: 10px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table, th,td{
    border-collapse: collapse;
    border: 1.5px solid black;
    padding: 10px;
  }

table{
    margin: 50px;
}
td{
    height: 50px;
}
th{
    height: 30px;
}
.uskakolona{
    width: 10px;
}
.prisutan{
    background-color:lightgreen;
}
.odsutan{
    background-color:lightcoral;
}
.nijeuneseno{
    background-color: white;
}
.prazna{
  
    border-bottom: 1.5px solid black;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}
tr:first-of-type{
    background: lightgray;
}
.table{
    overflow-x: auto !important;
}
